<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>빅데이터시스템설계 6팀</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&amp;display=swap" rel="stylesheet">
    </head>

    <body>
        <main>
            <h1>한국 음악 데이터 분석</h1>
        </main>

        <ol>
            <li><a href="/q1">시대별 가사에서 많이 나오는 단어</a></li>
            <li><a href="/q2?genre=GN0100">시대에 따른 장르별 가사 변화</a></li>
            <li><a href="/q3">(연도별 장르별 나이별) 노래 가사의 한국어 / 영어 비율</a></li>
            <li><a href="/q4">솔로 / 듀오 / 그룹 가수 형태에 따른 노래 비율</a></li>
            <li><a href="/q5">노래 한 곡의 가사(단어) 양 변화 (장르별, 시대별)</a></li>
            <li><a href="/q6">소속사별 가사 특성 (키워드)</a></li>
            <li><a href="/q7">유명 소속사 / 무명 소속사 좋아요 비율</a></li>
            <li><a href="/q8">유명 소속사가 음악 시장에서 차지하는 비율 (곡 수)</a></li>
            <li><a href="/q9">곡 장르별 피처링 연관 그래프</a></li>
            <li><a href="/q10">걸그룹 이름 글자 수에 따른 전체 좋아요 개수</a></li>
        </ol>
    </body>
</html>