<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale-1.0">
        <title>한국 음악 데이터 분석</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    </head>

    <body>
        <main>
            <h1>솔로 / 듀오 / 그룹 가수 형태에 따른 노래 비율</h1>
        </main>

        <div id="chart">{{ plot_html | safe }}</div>
        
        <div class="navbar">
            <a href="/q3">Q3: (연도별 장르별 나이별) 노래 가사의 한국어 / 영어 비율</a>
            <a href="/">목록</a>
            <a href="/q5">Q5: 노래 한 곡의 가사(단어) 양 변화 (장르별, 시대별)</a>
        </div>
    </body>
</html>