<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale-1.0">
        <title>시대별 가사에서 많이 나오는 단어</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    </head>

    <body>
        <main>
            <h1>소속사별 가사 특성 (키워드)</h1>
        </main>

        <div id="chart">{{ plot_html | safe }}</div>

        {% for image in wordcloud %}
            <img src="{{ image }}" alt="Word Cloud {{ loop.index }}" class="wordcloud">
            <div>{{ image }}</div>
            <div></div>
            <div></div>
        {% endfor %}

        <div class="navbar">
            <a href="/q5">Q5: 노래 한 곡의 가사(단어) 양 변화 (장르별, 시대별)</a>
            <a href="/">목록</a>
            <a href="/q7">Q7: 유명 소속사 / 무명 소속사 좋아요 비율</a>
        </div>
    </body>
</html>