<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale-1.0">
        <title>시대별 가사에서 많이 나오는 단어</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&amp;display=swap" rel="stylesheet">
    </head>

    <body>
        <main>
            <h1>걸그룹 이름 글자 수에 따른 전체 좋아요 개수</h1>
        </main>

        <div id="chart" style="margin-bottom: 40px;">{{ plot_html | safe }}</div>
        <div id="chart" style="margin-bottom: 40px;">{{ plot_html2 | safe }}</div>
        
        <div class="navbar">
            <a href="/q8">Q8: 유명 소속사가 음악 시장에서 차지하는 비율 (곡 수)</a>
            <a href="/">목록</a>
            <a href="/q1">Q1: 시대별 가사에서 많이 나오는 단어</a>
        </div>
    </body>
</html>